body {
  margin: 16px;
  font-size: 100%;
  font-family: arial, sans-serif;
  background: linear-gradient(to bottom, #fff1eb 0%, #ace0f9 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  position: relative;

  font-size: 30px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}
.weather-app {
  margin: 0 auto;
}
.current-temperature {
  margin-top: 0.25em;
  width: 100%;
  font-size: 55px;
}
.current-text {
  font-size: 20px;
}
.indicators {
  position: relative;
  top: -34px;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}
.stats {
  display: flex;
  justify-content: space-around;
  padding-bottom: 0;
  width: 100%;
  font-size: 20px;
  padding-bottom: 0;
  border-top: none;
  border-bottom: none;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;

  font-size: 18px;
  font-weight: 100;
  line-height: 19px;
}
li:first-letter {
  text-transform: capitalize;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}
.current-text:first-letter {
  text-transform: capitalize;
}

.nextDays {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

.containerDays {
  display: flex;
}

.rowDays {
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0.3px;
  padding: 0.8px 0;
  width: 100%;
  border-radius: 5px;
  font-size: 1.19em;
  text-align: center;
  background-color: rgba(166, 205, 235, 0.2);
}
.forecast-date,
.rain,
.wind {
  font-size: 16px;
  padding: 15px;
}
.high,
.low {
  font-size: 13px;
}
.label {
  color: #fffdfb;
  font-size: 15px;
}
.btnCurrent {
  display: inline-block;
  font-weight: 150px;
  color: #fff;
  border-color: #28a745;
  background-color: #28a745;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}
.active {
  color: black;
  cursor: default;
}
.active:hover {
  text-decoration: none;
}
.link {
  margin-top: 25px;
  padding: 20px;
}
